<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">    
    <link rel="icon" type="image" href="/assets/ICON.png">
    <title>Fish Crate</title>
</head>

<body>
    <!-- Website header which contains navbar elements (hamburger icon, logo, links and log in) -->
    <header>

        <a href="/user" class="flexbox-navbar-logo"><img src="/assets/Logo.png" width="250px"
                height="85px" alt="fish Logo"></a>
        <nav>
           <ul class="flexbox-navbar-profile">
                <li class="nav-username">
                    <p>{{user}}</p>
                </li>
            </ul>
        </nav>
        {{#if user}}
        <form method="POST" action="/logout">
            <button class="flexbox-navbar-button blue3" style="cursor: pointer;">Logout</button>
        </form>
        {{else}}
        <a href="/login"><button class="flexbox-navbar-button blue3" style="cursor: pointer;">Login</button></a>
        {{/if}}
    </header>


    <main>
        {{{body}}}
    </main>


    <!-- Footer: The bottom of the website with a list of URLs and more... -->
    <footer class="blue3">
        <div class="flexbox-footer-container">
            <ul class="flexbox-footer-row-horizontal">
                <li>&copy Fish Crate</li>
                <li>|</li>
                <li><a href="#" onclick="javascript:void(0)">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>
</body>