<main>
    <img src="../public/images/clownfish.jfif">
    <div>
        <table>
            <tr>
                <td>Species:</td>
                <td>Clownfish</td>
            </tr>
            <tr>
                <td>Size:</td>
                <td>Small</td>
            </tr>            <tr>
                <td>Weight:</td>
                <td>Heavy</td>
            </tr>            
        </table>
    </div>
</main>