<body>
    <div>
        <form action="/suges" method="POST">

            <h1 class="upload_fish_title"><label class="upload_fish_section" for="name">Search species:</label></h1>
            <input class="upload_fish_input" type="text" id="name" placeholder="Species" value="" name="name" required>
            <button class="upload_fish_submit blue2" type="submit">Search</button>

        </form>
    </div>

<hr>

        {{#each recommend}}
        {{#if this.num}}
        <div>
            <h1 class="upload_fish_title">{{this.loc}} would be a nice place to catch some {{this.spe}}. There are {{this.num}} catchs recorded.</h1>
        </div>
        {{else}}
        <div>
            <h1 class="upload_fish_title">Sorry, looks this species is not recorded yet.</h1>
        </div>
        {{/if}}
        {{/each}}
    </div>
</body>