<main>
    <h1>Your Catches</h1>
    <div>
        <table>
            <tr>
                <td><img src="../public/images/clownfish.jfif" height="50px"></td>
                <td>Clownfish</td>
                <td>28/08/22</td>
            </tr>
            <tr>
                <td><img src="../public/images/clownfish.jfif" height="50px"></td>
                <td>FishClown</td>
                <td>30/08/22</td>
            </tr>            
        </table>
    </div>
</main>