<div class="user_homepage_flexbox">
    <a href="viewFish"><button class="viewfish_button blue1">Fish</button></a>
    <a href="upload_fish"><button class="uploadfish_button blue2">Upload</button></a>
</div>
    <p> Welcome {{this.username}}! </p>
    <p> You are logged in!</p>
    <p> Let's upload your latest catch!</p>
