<div>
    <a href="viewFish"><button>Fish</button></a>
    <a href="upload_fish"><button>Upload</button></a>
</div>
    <p> Welcome {{this.username}}! </p>
    <p> You are logged in!</p>
    <p> Let's upload your latest catch!</p>
