<body class="upload_fish"> 
    <div class="user_homepage">
        <div class="user_report">
            <div class="report_data">
                <div>career report</div>
                <div>total weight</div>
                <div>best season</div>
                <div>favourite location</div>
            </div>
        </div>
        <div class="user_homepage_buttons">
            <a href="viewFish"><button class="viewfish_button blue1">Fish</button></a>
            <a href="upload_fish"><button class="viewfish_button blue2">Upload</button></a>
        </div>
    </div>
</body>
<div>
        <a href="myCareer"><button class="blue3">My Career</button></a>
        <a href="sugestion"><button class="blue3">sugestion</button></a>
</div> 