@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Override CSS defaults custom values */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*==================================HEADER and FOOTER==========================================*/
footer {
    font-weight: bold;
    color: white;
    margin-top: auto;
    /* Force footer to stick to bottom of page */
}

.flexbox-footer-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    margin-top: 8px;
    margin-bottom: 8px;
    
}

.flexbox-footer-row {
    flex-wrap: wrap;
    /* When viewport gets smaller each item will wrap onto a new line */
    list-style: none;
    flex-direction: column;
    margin-bottom: 5px;
}

.flexbox-footer-row a {
    margin-bottom: 1px;
    font-weight: bold;
    color: white;
}

.flexbox-footer-logo {
    cursor: pointer;
    float: right;
    /* Important! 'Float' allows the logo to be in the same line as the text. */
    display: block;
    /* Right align the logo */
    margin-left: auto;
    /* Right align the logo */
    margin-right: 2%;
    transition: all 0.8s ease 0s;
    filter: brightness(0) invert(1);
}

.flexbox-footer-logo:hover {
    transform: scale(1.05);
}

.flexbox-footer-row-horizontal {
    list-style: none;
    text-align: center;
}

.flexbox-footer-row-horizontal li {
    display: inline-block;
    /* Inline block makes it so that list elements appear horizontally */
    padding-right: 8px;
    color: white;
}

.flexbox-footer-row-horizontal a {
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flexbox-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    padding: 10px 15%;
    /* First value: padding top and bottom. Second value: padding on sides. */
    margin-right: auto;
}

.flexbox-main-content-lists {
    list-style-type: none;
}

.flexbox-main-content-lists li a {
    color: dodgerblue;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 1%;
    /* Padding padding on top and bottom, padding on sides. */
    background-color: #F7F7F7;
}

/* Header logo - add animation when hovering on logo */
.flexbox-navbar-logo {
    cursor: pointer;
    margin-right: auto;
    margin-top: 5px;
    transition: all 0.5s ease 0s;
}

.flexbox-navbar-logo:hover {
    transform: scale(1.1);
}

/* Header navbar button properties */
.flexbox-navbar-button {
    margin-left: 20px;
    padding: 12px 32px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

/*  Header navbar button - animation upon hover */
.flexbox-navbar-button:hover {
    background-color: #0E86D4;
    transform: scale(1.1);
    /*font-size: 22px;*/
}


/*  Header navbar links */
.flexbox-navbar-text {
    list-style: none;
    /* Removes bullet points that appear before list elements on the navbar */
}

.flexbox-navbar-text li {
    display: inline-block;
    /* Inline block makes it so that list elements appear horizontally */
    padding: 0px 20px;
}


.nav-msg-icon {
    margin-left: 16px;
    margin-right: 16px;
}

.nav-profile-icon {
    height: 60px;
    width: 60px;
    margin-left: 16px;
    margin-right: 16px;
}

.flexbox-navbar-profile {
    /* The profile section on the top right */
    list-style: none;
}

.nav-username {
    color: #343434;
    font-size: 19px;
    font-weight: bold;
}

.nav-userstatus {
    color: #7D92DB;
    font-size: 14px;
}

/* Header navbar links - animation upon hover*/
.flexbox-navbar-text li a {
    transition: all 0.8s ease 0s;
}

.flexbox-navbar-text li a:hover {
    color: #0E86D4;
    font-size: 16.5px;
}

/* Hide navbar text */
.flexbox-navbar-text {
    display: none;
}

/* Hide username, user status and message icon */
.flexbox-navbar-profile {
    display: none;
}

.nav-msg-icon {
    display: none;
}

.nav-profile-verticle-bar {
    display: none;
}

/*==========================================================================*/

/* Register forms */
.general-form {
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 2%;
}

.general-form input{
    border-radius: 20px;
    width: 100%;
    height: 50%;
    padding: 5%;
}

.login-button {
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.login-button button {
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 80%;
    border: none;
    color: white;
    background-color: #0074b7;
    font-size: 20px;
}
/*==========================================================================*/

/*user homepage*/
.user_homepage_flexbox{
    height: 600px;
    width: 50%;
    display: flexbox;
    margin: auto;
}

.viewfish_button{
    width: 100%;
    border-radius: 20px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    filter: drop-shadow(4px 4px 3px grey);
    margin-top: 8%;
    margin-bottom: 8%;
    transition: all 0.5s ease 0s;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

.uploadfish_button{
    width: 100%;
    border-radius: 20px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    filter: drop-shadow(4px 4px 3px grey);
    transition: all 0.5s ease 0s;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

button:hover{
    background-color: #0074b7;
    transform: scale(1.05);
    color: white;
    cursor: pointer;
    
}

/*==========================================================================*/

.fish_sort_header{
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.sort_with{
    color: #003B73;
    font-size: larger;
    font-weight: bold;
    margin-right: 3%;
}

.sort_boxes{
    margin-right: 5%;
}

.sort_button{
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    transition: all 0.5s ease 0s;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    padding-inline: 20%;
}

.fish-flexbox{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5%;
    margin: 5%;
    border-radius: 20px;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    border: rgb(151, 151, 151);
    border-width: 3px;
    border-style: solid;
}

.fish_image{
    display: flex;
    max-width: 30%;
    max-height: 10%;
}

.fish_details_flexbox{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    height: 90%;
}

.fish_details{
    display: flex;
    border-radius: 10px;
    width: 100%;
    margin: 5%;
    padding: 3%;
    font-weight: bold;
    border: rgb(151, 151, 151);
    border-width: 3px;
    border-style: solid;
}

.details_button{
    width: 100%;
    margin: 5%;
    border-radius: 20px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    transition: all 0.5s ease 0s;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;

}

/*==========================================================================*/

.upload_fish{
    background-image: url("/assets/fish_background.jpg");
    background-size: 100% 100%;
}

.upload_fish_form{
    background-color: white;
    filter: drop-shadow(4px 4px 3px #4f4f4f);
    display: flexbox;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
    padding: 2%;
}

.upload_fish_title{
    text-align: center;
    color: #003B73;
}

.upload_fish_section{
    margin-left: 20%;
    display: flex;
    padding: 2%;
}

.upload_fish_input{
    margin-left: 20%;
    display: flex;
    padding: 1%;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    width: 60%;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
}

.upload_fish_submit {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: large;
    width: 30%;
    height: 50px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    justify-content: center;
    align-items: center;
}

/*  Header navbar button - animation upon hover */
.upload_fish_submit:hover {
    background-color: #0E86D4;
    transform: scale(1.1);
    /*font-size: 22px;*/
}

a,
button{
    text-decoration: none;
}

/*==========================================================================*/

/* Colours */
.blue1 {
    background-color: #BFD7ED;
}

.blue2 {
    background-color: #60A3D9;
}

.blue3 {
    background-color: #0074b7;
}

.blue4 {
    background-color: #003B73;
}

/*========================================== RESPONSIVE DESIGN ===========================================*/

@media screen and (max-width: 768px) {

    /* Register forms ===========*/
    .general-form {
        display:grid ;
        grid-template-columns: repeat(1, auto);
        row-gap: 5%;
        justify-items: center;
    }

    .general-form input{
        border-radius: 20px;
        width: 280%;
        height: 100%;
        padding: 5%;
    }

    .checkbox{
        margin-top: 40%;
    }

    .login-button {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-items: center;
    }

    .login-button button {
        cursor: pointer;
        border-radius: 20px;
        width: 200%;
        height: 80%;
        border: none;
        color: white;
        background-color: #0074b7;
        font-size: 20px;
    }
}