@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Override CSS defaults custom values */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*==================================HEADER and FOOTER==========================================*/
footer {
    font-weight: bold;
    color: white;
    margin-top: auto;
    /* Force footer to stick to bottom of page */
}

.flexbox-footer-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    margin-top: 8px;
    margin-bottom: 8px;
    
}

.flexbox-footer-row {
    flex-wrap: wrap;
    /* When viewport gets smaller each item will wrap onto a new line */
    list-style: none;
    flex-direction: column;
    margin-bottom: 32px;
}

.flexbox-footer-row a {
    margin-bottom: 1px;
    font-weight: bold;
    color: white;
}

.flexbox-footer-logo {
    cursor: pointer;
    float: right;
    /* Important! 'Float' allows the logo to be in the same line as the text. */
    display: block;
    /* Right align the logo */
    margin-left: auto;
    /* Right align the logo */
    margin-right: 2%;
    transition: all 0.8s ease 0s;
    filter: brightness(0) invert(1);
}

.flexbox-footer-logo:hover {
    transform: scale(1.05);
}

.flexbox-footer-row-horizontal {
    list-style: none;
    text-align: center;
}

.flexbox-footer-row-horizontal li {
    display: inline-block;
    /* Inline block makes it so that list elements appear horizontally */
    padding-right: 8px;
    color: white;
}

.flexbox-footer-row-horizontal a {
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flexbox-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    padding: 10px 15%;
    /* First value: padding top and bottom. Second value: padding on sides. */
    margin-right: auto;
}

.flexbox-main-content-lists {
    list-style-type: none;
}

.flexbox-main-content-lists li a {
    color: dodgerblue;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 1%;
    /* Padding padding on top and bottom, padding on sides. */
    background-color: #F7F7F7;
}

/* Header logo - add animation when hovering on logo */
.flexbox-navbar-logo {
    cursor: pointer;
    margin-right: auto;
    margin-top: 5px;
    transition: all 0.5s ease 0s;
}

.flexbox-navbar-logo:hover {
    transform: scale(1.1);
}

/* Header navbar button properties */
.flexbox-navbar-button {
    margin-left: 20px;
    padding: 12px 32px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

/*  Header navbar button - animation upon hover */
.flexbox-navbar-button:hover {
    background-color: #0E86D4;
    transform: scale(1.1);
    /*font-size: 22px;*/
}


/*  Header navbar links */
.flexbox-navbar-text {
    list-style: none;
    /* Removes bullet points that appear before list elements on the navbar */
}

.flexbox-navbar-text li {
    display: inline-block;
    /* Inline block makes it so that list elements appear horizontally */
    padding: 0px 20px;
}


.nav-msg-icon {
    margin-left: 16px;
    margin-right: 16px;
}

.nav-profile-icon {
    height: 60px;
    width: 60px;
    margin-left: 16px;
    margin-right: 16px;
}

.flexbox-navbar-profile {
    /* The profile section on the top right */
    list-style: none;
}

.nav-username {
    color: #343434;
    font-size: 19px;
    font-weight: bold;
}

.nav-userstatus {
    color: #7D92DB;
    font-size: 14px;
}

/* Header navbar links - animation upon hover*/
.flexbox-navbar-text li a {
    transition: all 0.8s ease 0s;
}

.flexbox-navbar-text li a:hover {
    color: #0E86D4;
    font-size: 16.5px;
}

/* Hide navbar text */
.flexbox-navbar-text {
    display: none;
}

/* Hide username, user status and message icon */
.flexbox-navbar-profile {
    display: none;
}

.nav-msg-icon {
    display: none;
}

.nav-profile-verticle-bar {
    display: none;
}

/*==========================================================================*/

/* Register forms */
.general-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.form-columns {
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 10%;
}

/*==========================================================================*/

/*user homepage*/
.user_homepage_flexbox{
    height: 600px;
    width: 50%;
    display: flexbox;
    margin: auto;
}

.viewfish_button{
    width: 100%;
    border-radius: 20px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin-top: 8%;
    margin-bottom: 8%;
    transition: all 0.5s ease 0s;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

.uploadfish_button{
    width: 100%;
    border-radius: 20px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    transition: all 0.5s ease 0s;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

button:hover{
    background-color: #0074b7;
    transform: scale(1.05);
    color: white;
    cursor: pointer;
    
}

/*==========================================================================*/

.upload_fish_title{
    text-align: center;
}

.upload_fish_section{
    margin-left: 35%;
    display: flex;
    padding: 2%;
}

.upload_fish_input{
    margin-left: 35%;
    display: flex;
    padding: 1%;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    width: 30%;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
}

.upload_fish_submit{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

a,
button{
    text-decoration: none;
}

/*==========================================================================*/

/* Colours */
.blue1 {
    background-color: #BFD7ED;
}

.blue2 {
    background-color: #60A3D9;
}

.blue3 {
    background-color: #0074b7;
}

.blue4 {
    background-color: #003B73;
}

